 <div id="contato" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Fale com os Stokers.</h3>
      </div>
      <div class="modal-body">
        <h4>Quem são os Stokers?</h4> 
        <p>Stokers é o apelido carinhoso de quem participa do time de desenvolvimento do Stk. Você quer falar com eles?
        É só preencher o formulário abaixo.</p>
      </div>
      <div class="modal-footer">
      </div>
  </div>   