<div class='alert alert-error'>";  
	<a class='close' data-dismiss='alert'>×</a>";  
	<strong>Alerta!</strong> Você possui produtos abaixo do estoque minimo. <a href='#modalEstoqueMinimo' data-toggle='modal'>Clique aqui para ver quais são.</a>"; 
</div>  